{% include "sections/prologue.j2" %}

{% include "sections/prepare_dvc.j2" %}

echo "Queueing DVC experiments."
{% for run_options in queue -%}
{% if dvc_exp_run_pull -%}
eval "dvc exp run --pull --allow-missing --queue {{run_options}}"
{% else -%}
eval "dvc exp run --queue {{run_options}}"
{% endif -%}
{% endfor -%}

echo "Executing DVC experiments."
eval "dvc queue start --jobs {{jobs}}"

while rdvc queue local-active; do
    sleep 10
done

{% include "sections/push_dvc.j2" %}
